[Unit]
Description=Service to load rtl8821ce wireless network driver when kernel version changes
After=network-online.target

[Service]
Type=oneshot
Restart=no
ExecStart=/etc/init.d/rtl8821ce

[Install]
WantedBy=multi-user.target
