[Unit]
Description=Service to load rtl8821ce wireless network driver when kernel version changes
Before=sshd.service
After=systemd-sysctl.service systemd-modules-load.service

[Service]
Type=oneshot
Restart=no
ExecStart=/usr/sbin/rtl8821ce

[Install]
WantedBy=network-online.target
